<div class="navbar-product">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "product.png" %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-right">
    <% if user_signed_in? %>
      <!-- Links when logged in -->
      <%= link_to "Add Product", new_product_path, class: "navbar-item navbar-link" %>
      <%= link_to destroy_user_session_path, class: "navbar-item navbar-link", method: :delete do %>
        <%= t(".sign_out", default: "Log out") %>
      <% end %>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-item navbar-link" %>
    <% end %>
  </div>
</div>

